Dados Coletados : metadados e categoria :D

In [24]:
base_folder = "~/Documents/tcc-collected-data/data"
dataset_folder = f"{base_folder}/info_and_category_200701-200901/data" 

titles = !ls ~/Documents/tcc-collected-data/data/info_and_category_200701-200901/data
print(len(titles))

2998

In [26]:
import pandas as pd
i = 0
df1 = pd.read_csv(f"{dataset_folder}/{titles[i]}")

In [63]:
i -= 1
i

0

In [121]:
i += 1
df1 = pd.read_csv(f"{dataset_folder}/{titles[i]}")
print(titles[i])
df1[["access", "category", "raw_category"]]

Aaron Sorkin

,access,category,raw_category
0,2009-01-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
1,2008-12-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
2,2008-11-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
3,2008-10-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
4,2008-09-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
5,2008-08-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
6,2008-07-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
7,2008-06-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
8,2008-05-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
9,2008-04-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
10,2008-03-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
11,2008-02-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
12,2008-01-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
13,2007-12-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
14,2007-11-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
15,2007-10-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
16,2007-09-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
17,2007-08-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
18,2007-07-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
19,2007-06-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA'), ('class=FA|', '..."
20,2007-05-01T00:00:00Z,FA,"[('class=FA\n', '', '', 'FA')]"
21,2007-04-01T00:00:00Z,NaN,NaN
22,2007-03-01T00:00:00Z,NaN,NaN
23,2007-02-01T00:00:00Z,B,"[('class=B\n', '', '', 'B')]"

In [124]:
import requests

S = requests.Session()
URL = "https://en.wikipedia.org/w/api.php"
#title = titles[0]

params = {
        "action": "query",
        "prop": "revisions",
        "titles": "Prostitution in the People's Republic of China",
        "rvprop": "ids",
        "rvslots": "main",
        "formatversion": "2",
        "format": "json",
        "rvlimit": 1,
        "rvstart": '2008-12-19T16:51:08Z',
        "rvdir": "older",
    }

response = S.get(url=URL, params=params).json()
response

{'batchcomplete': True,
 'query': {'pages': [{'pageid': 40275401,
    'ns': 0,
    'title': "Prostitution in the People's Republic of China"}]}}