# Playground ;D

Dados Coletados : metadados e categoria :D

In [1]:
import pandas as pd
hasan_ = pd.read_csv('wikipedia_dataset_hasan/wikipedia_old.csv')
hasan = set(hasan_["page_title"])

In [19]:
base_folder = "/home/ana/Documents/tcc-collected-data/data"
dataset_folder = f"{base_folder}/info_and_category_200701-200901/data" 
infos = !ls ~/Documents/tcc-collected-data/data/info_and_category_200701-200901/data

print(len(infos))

2998

In [5]:
content_folder = f"{base_folder}/content_200701-200901-errors" 
contents = !ls ~/Documents/tcc-collected-data/data/content_200701-200901-errors/data
cont = set([x.split("|")[0] for x in contents])
len(cont)

2839

In [6]:
content_folder = f"{base_folder}/content_200701-200901-by_id" 
contents = !ls ~/Documents/tcc-collected-data/data/content_info_by_id200701-200901-errors/data
cont_id = set([x.split("|")[0] for x in contents])
len(cont_id)

34

In [10]:
cont_t = cont_id | cont

In [24]:
dif1 = hasan - set(infos)
len(dif1)

327

In [ ]:
dataset= dataset[dataset.page_title.isin(titles_not_found)]
list(dataset["page_id"])

In [ ]:
import pandas as pd
i = 0
df1 = pd.read_csv(f"{dataset_folder}/{titles[i]}")

In [ ]:
i -= 1
i

In [ ]:
i += 1
df1 = pd.read_csv(f"{dataset_folder}/{titles[i]}")
print(titles[i])
df1[["access", "category", "raw_category"]]

In [48]:
raw_dataset = pd.read_csv(f"{base_folder}/features/data/raw_dataset.csv", sep=";")
ordered_features = raw_dataset.sort_values(by=['title','timestamp'], ascending=[True, False])

In [54]:
merged = pd.merge(all_infos_category, ordered_features, how='inner')

In [2]:
import csv
merged.to_csv(f"featubreeeees.csv", index=None, header=True, quoting=csv.QUOTE_NONNUMERIC)

NameError: name 'merged' is not defined

In [3]:
joined_dataset = pd.read_csv("/home/ana/Documents/tcc-web-crawler/join_features.csv")

In [6]:
joined_dataset

,title,timestamp,access,category,pageid,raw_category,revision.anon,revision.comment,revision.commenthidden,revision.parentid,...,Sentences starting with relative pronoums,Sentences starting with subordinating conjunctions,Sentences starting with to be verbs,ARI readability feature,Coleman-Liau readability feature,Flesch Reading Ease Readability Feature,Flesch Kincaid Readability Feature,Gunning Fog Index readability feature,Lasbarhetsindex readability feature,SMOG Grading readability feature
0,...In Your Eyes,2008-11-15T21:06:16Z,2009-01-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,NaN,NaN,205736135,...,0,0,0,3.890457,5.731233,51.940628,9.037192,7.058447,17.646119,11.544004
1,...In Your Eyes,2008-11-15T21:06:16Z,2008-12-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,NaN,NaN,205736135,...,0,0,0,3.890457,5.731233,51.940628,9.037192,7.058447,17.646119,11.544004
2,...In Your Eyes,2008-04-15T06:59:39Z,2008-11-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,[[WP:UNDO|Undid]] revision 165033550 by [[Spec...,NaN,199772717,...,0,1,0,3.877281,5.499211,52.607281,9.068421,7.171930,17.929825,11.717798
3,...In Your Eyes,2008-04-15T06:59:39Z,2008-10-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,[[WP:UNDO|Undid]] revision 165033550 by [[Spec...,NaN,199772717,...,0,1,0,3.877281,5.499211,52.607281,9.068421,7.171930,17.929825,11.717798
4,...In Your Eyes,2008-04-15T06:59:39Z,2008-09-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,[[WP:UNDO|Undid]] revision 165033550 by [[Spec...,NaN,199772717,...,0,1,0,3.877281,5.499211,52.607281,9.068421,7.171930,17.929825,11.717798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68249,"Étienne François, duc de Choiseul",2007-06-11T20:05:49Z,2007-07-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,defaultsort,NaN,119112797,...,0,3,0,15.899614,11.227225,38.606704,15.244494,16.181273,40.453184,32.832868
68250,"Étienne François, duc de Choiseul",2007-03-30T19:59:38Z,2007-06-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,NaN,NaN,119112285,...,0,3,0,15.849963,11.184994,38.770665,15.213344,16.127799,40.319498,32.816103
68251,"Étienne François, duc de Choiseul",2007-03-30T19:59:38Z,2007-05-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,NaN,NaN,119112285,...,0,3,0,15.849963,11.184994,38.770665,15.213344,16.127799,40.319498,32.816103
68252,"Étienne François, duc de Choiseul",2007-03-30T19:59:38Z,2007-04-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,NaN,NaN,119112285,...,0,3,0,15.849963,11.184994,38.770665,15.213344,16.127799,40.319498,32.816103
68253,"Étienne François, duc de Choiseul",2007-02-10T11:58:40Z,2007-03-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,reclassify,NaN,87118590,...,0,3,0,15.575966,11.196774,43.230001,14.442300,15.838362,39.595905,32.512709

In [7]:
valid_categories = ['A','B','C','FA','GA','Start','Stub']
#filtered = joined_dataset[joined_dataset['category'] |= 'Stub']

def where_not_in(df, column, values):
    for value in values:
        df = df[df[column] != value]
    return df

invalid = where_not_in(joined_dataset, 'category', valid_categories)
invalid.to_csv('join_features-invalid-categories.csv')

valid = joined_dataset.drop(invalid.index)
valid.to_csv('join_features-valid-categories.csv')

In [11]:
a = len(invalid)
b = len(valid)
print(a/(a+b))
print(b/(a+b))

0.26937615377853313
0.7306238462214669

In [12]:
set(invalid['category']) # apenas 90

{'"Dlwl">[[User:Dlwl',
 '"IPA">*</span>\'\'\'\'\'Wōđanaz\'\'\'\'\' is"...) [[User:QuartierLatin1968',
 '"NavFrame" style="padding:0;border-style:none;">',
 '"autosigned">—Preceding [[Wikipedia:Signatures',
 '"boilerplate metadata" id="afd" style="margin: 0 5%; padding: 0 7px 0px 7px; background: #EDF1F1; border: 1px solid #999999; text-align: left; font-size:95%;">',
 '"boilerplate metadata" style="background-color:lightgreen; border:1px solid #5A8261; font-size:82.5%;">',
 '"boilerplate" style="background-color: #efe; margin: 2em 0 0 0; padding: 0 10px 0 10px; border: 1px dotted #aaa;"><!-- Template:polltop -->',
 '"infobox"',
 '"infobox" width="150"',
 '"infobox" width="195px"',
 '"infobox" width="240px"',
 '"infobox" width="270px"',
 '"infobox" width="300px"',
 '"messagebox small-talk"',
 '"messagebox standard-talk"',
 '"messagebox standard-talk" style="border: 1px solid #CC9999; background-color: #FFCCCC;"',
 '"messagebox standard-talk" style="text-align:center;"',
 '"messagebox standard-talk">',
 '"messagebox {{#ifeq:{{{small',
 '"messagebox"',
 '"messagebox" style="background-color:#B0C3FB;padding:8px;border:3px solid #C91240;text-align:center;"',
 '"messagebox" style="background: AntiqueWhite;',
 '"messagebox" style="padding:8px; font-size:110%; border:3px solid #C91240;text-align:center;"',
 '"messagebox">',
 '"plainlinks">[[User:Khoikhoi',
 '"plainlinks">[http://en.wikipedia.org/w/index.php?title=Image:Vanderbiltseal.gif&diff=prev&oldid=103685051 uploaded it]</span> to Wikipedia, <span class="plainlinks">[http://en.wikipedia.org/w/index.php?title=Vanderbilt_University&diff=prev&oldid=103685558 added it]</span> to the article, and removed the seal.',
 '"plainlinks">[http://tools.wikimedia.de%2F~kate%2Fcgi-bin%2Fcount_edits%3Fuser%3DJosh%2BParris%26dbname%3Denwiki #][http://parris.josh.com.au/resume/index.shtml :]</span> 05:13, 22 September 2006 (UTC)',
 '"references-small"><references/></div></nowiki></code>.<sup>[[User:AndyZ/G#foot',
 '"sigInvitatious">[[User:Mahanga',
 '"toccolours"',
 '"toccolours" cellspacing="0" width="480"',
 '"wikitable"',
 '"wikitable" style="margin: 1em auto 1em auto"',
 '"wikitable" style="text-align:center"',
 '"wikitable" style="text-align:left"',
 '?',
 '???',
 'B<!-- 1. It is suitably referenced, and all major points are appropriately cited. -->',
 'Bplus',
 'B}}',
 'Dab',
 'FA}}{{WikiProject Veterinary medicine',
 'FL',
 'Future',
 'GA<!-- 1. It is suitably referenced, and all major points are appropriately cited. -->',
 'GA}}',
 'Ga',
 'List',
 'Low',
 'Start<!-- 1. It is suitably referenced, and all major points have appropriate inline citations. -->',
 'Start<!-- B-Class checklist -->',
 'Start<!-- B-Class-1. It is suitably referenced, and all major points have appropriate inline citations. -->',
 'Start}}{{WPBiography',
 'Unassessed',
 'a',
 'b',
 'c',
 'fa',
 'ga',
 'high',
 'list',
 nan,
 'start',
 'start<!-- B-Class checklist -->',
 'stub',
 'stub<!-- B-Class checklist -->',
 'stub}}{{Skyscrapers',
 '|',
 '|Accident-task-force=yes',
 '|Aircraft-project=yes',
 '|Airlines-project=yes',
 '|category=Geography',
 '|core=',
 '|ethics=yes',
 '|importance=',
 '|importance=High',
 '|importance=Low',
 '|importance=Mid',
 '|importance=Top',
 '|importance=high',
 '|importance=low',
 '|importance=mid',
 '|importance=top',
 '|needs-infobox=',
 '|nested =yes',
 '|nested=yes',
 '|peer-review=yes',
 '|priority=',
 '}'}

In [16]:
valid

,title,timestamp,access,category,pageid,raw_category,revision.anon,revision.comment,revision.commenthidden,revision.parentid,...,Sentences starting with relative pronoums,Sentences starting with subordinating conjunctions,Sentences starting with to be verbs,ARI readability feature,Coleman-Liau readability feature,Flesch Reading Ease Readability Feature,Flesch Kincaid Readability Feature,Gunning Fog Index readability feature,Lasbarhetsindex readability feature,SMOG Grading readability feature
0,...In Your Eyes,2008-11-15T21:06:16Z,2009-01-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,NaN,NaN,205736135,...,0,0,0,3.890457,5.731233,51.940628,9.037192,7.058447,17.646119,11.544004
1,...In Your Eyes,2008-11-15T21:06:16Z,2008-12-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,NaN,NaN,205736135,...,0,0,0,3.890457,5.731233,51.940628,9.037192,7.058447,17.646119,11.544004
2,...In Your Eyes,2008-04-15T06:59:39Z,2008-11-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,[[WP:UNDO|Undid]] revision 165033550 by [[Spec...,NaN,199772717,...,0,1,0,3.877281,5.499211,52.607281,9.068421,7.171930,17.929825,11.717798
3,...In Your Eyes,2008-04-15T06:59:39Z,2008-10-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,[[WP:UNDO|Undid]] revision 165033550 by [[Spec...,NaN,199772717,...,0,1,0,3.877281,5.499211,52.607281,9.068421,7.171930,17.929825,11.717798
4,...In Your Eyes,2008-04-15T06:59:39Z,2008-09-01T00:00:00Z,Stub,NaN,"[('class=Stub|', 'Stub', '', '')]",NaN,[[WP:UNDO|Undid]] revision 165033550 by [[Spec...,NaN,199772717,...,0,1,0,3.877281,5.499211,52.607281,9.068421,7.171930,17.929825,11.717798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68249,"Étienne François, duc de Choiseul",2007-06-11T20:05:49Z,2007-07-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,defaultsort,NaN,119112797,...,0,3,0,15.899614,11.227225,38.606704,15.244494,16.181273,40.453184,32.832868
68250,"Étienne François, duc de Choiseul",2007-03-30T19:59:38Z,2007-06-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,NaN,NaN,119112285,...,0,3,0,15.849963,11.184994,38.770665,15.213344,16.127799,40.319498,32.816103
68251,"Étienne François, duc de Choiseul",2007-03-30T19:59:38Z,2007-05-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,NaN,NaN,119112285,...,0,3,0,15.849963,11.184994,38.770665,15.213344,16.127799,40.319498,32.816103
68252,"Étienne François, duc de Choiseul",2007-03-30T19:59:38Z,2007-04-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,NaN,NaN,119112285,...,0,3,0,15.849963,11.184994,38.770665,15.213344,16.127799,40.319498,32.816103
68253,"Étienne François, duc de Choiseul",2007-02-10T11:58:40Z,2007-03-01T00:00:00Z,Start,NaN,"[('class=Start\n', '', '', 'Start'), ('class=S...",NaN,reclassify,NaN,87118590,...,0,3,0,15.575966,11.196774,43.230001,14.442300,15.838362,39.595905,32.512709

In [17]:
valid.groupby('category').count()

,title,timestamp,access,pageid,raw_category,revision.anon,revision.comment,revision.commenthidden,revision.parentid,revision.revid,...,Sentences starting with relative pronoums,Sentences starting with subordinating conjunctions,Sentences starting with to be verbs,ARI readability feature,Coleman-Liau readability feature,Flesch Reading Ease Readability Feature,Flesch Kincaid Readability Feature,Gunning Fog Index readability feature,Lasbarhetsindex readability feature,SMOG Grading readability feature
category,,,,,,,,,,,,,,,,,,,,,
A,7745,7745,7745,12,7745,0,6977,0,7745,7745,...,7745,7745,7745,7745,7745,7745,7745,7745,7745,7745
B,11043,11043,11043,110,11043,0,9594,0,11043,11043,...,11043,11043,11043,11043,11043,11043,11043,11043,11043,11043
C,238,238,238,5,238,0,202,0,238,238,...,238,238,238,238,238,238,238,238,238,238
FA,10496,10496,10496,80,10496,0,9587,0,10496,10496,...,10496,10496,10496,10496,10496,10496,10496,10496,10496,10496
GA,9293,9293,9293,78,9293,0,8391,0,9293,9293,...,9293,9293,9293,9293,9293,9293,9293,9293,9293,9293
Start,5611,5611,5611,59,5611,0,4721,0,5611,5611,...,5611,5611,5611,5611,5611,5611,5611,5611,5611,5611
Stub,5442,5442,5442,107,5442,0,4321,0,5442,5442,...,5442,5442,5442,5442,5442,5442,5442,5442,5442,5442

In [20]:
valid[["category", "title"]].groupby("title").count().mean()

category    19.343677
dtype: float64

In [ ]:
import requests

S = requests.Session()
URL = "https://en.wikipedia.org/w/api.php"
#title = titles[0]

params = {
        "action": "query",
        "prop": "revisions",
        "titles": "Prostitution in the People's Republic of China",
        "rvprop": "ids",
        "rvslots": "main",
        "formatversion": "2",
        "format": "json",
        "rvlimit": 1,
        "rvstart": '2008-12-19T16:51:08Z',
        "rvdir": "older",
    }

response = S.get(url=URL, params=params).json()
response