## Resultados

pode-se ver isso executando os comandos `ls -l data | wc -l` para obter o número de páginas coletadas e `cat errors.csv | wc -l` para obter o número de páginas com erro, nas pastas das coletas correspondentes.

Para passar as tabelas para latex : https://www.tablesgenerator.com/

In [3]:
import pandas as pd
from wkdatacollector.wkio import read_json
base_folder = "../tcc-collected-data/data"

In [8]:
info_meta = pd.DataFrame([["revision_info_2007-2009", 2846, 926, 455, 3306, -12, "sim"],
           #   ["erros_partially_revision_info_200701-200901", 926, 455, 1386, 5, "sim"],
              ["revision_info_201707-201907", 1474, 0, 1821, 3294, -1, "sim" ],
              ["revision_info_200701-200901", 2844, 930, 450, 3294, -1, "não" ],
              ["revision_info_200701-200901-errors",368,144, 82, 450, 0, "não"],
              ["revision_info_200701-200901 uniao -errors",3212,1074, 82, 3294, 0, "não"],
              ["content",0,0, 0, 0, 0, "não"],
              ["titles",40,0, 42, 82, 0, "não"],
              ["revision_info_pos_titles",34,0, 6, 40, 0, "não"],
              ["content_pos_titles",34,0, 0, 34, 0, "não"],
              ["info_and_category_200701-200901", 1589, 0, 1264, 2843, 0, "não" ],
              ["info_and_category_200701-200901+parcial", 1056, 0, 198, 1264, 0, "não" ],
              ["info_and_category_200701-200901+parcial+", 2994, -1, -1, -1, -1, "não" ],
             ], columns = ["file", "collected", "partially collected", "errors", "total", "missing", "descarted"]
            )
info_meta

,file,collected,partially collected,errors,total,missing,descarted
0,revision_info_2007-2009,2846,926,455,3306,-12,sim
1,revision_info_201707-201907,1474,0,1821,3294,-1,sim
2,revision_info_200701-200901,2844,930,450,3294,-1,não
3,revision_info_200701-200901-errors,368,144,82,450,0,não
4,revision_info_200701-200901 uniao -errors,3212,1074,82,3294,0,não
5,content,0,0,0,0,0,não
6,titles,40,0,42,82,0,não
7,revision_info_pos_titles,34,0,6,40,0,não
8,content_pos_titles,34,0,0,34,0,não
9,info_and_category_200701-200901,1589,0,1264,2843,0,não
10,info_and_category_200701-200901+parcial,1056,0,198,1264,0,não
11,info_and_category_200701-200901+parcial+,2994,-1,-1,-1,-1,não

## Base Original

In [16]:
hasan_ = pd.read_csv('wikipedia_dataset_hasan/wikipedia_old.csv')
hasan = set(hasan_["page_title"])
len(hasan)

3294

## Coleta de infos

1. A coleta realizada de 2009 à 2007 resultou em 1908 ou (1920) e erros (1386) (revision_info_2007-2009)
2. coleta dos artigos com erro, que tem mais rvcontinue (926) e erros (455)
3. A coleta de 2009 à 2007 resultou em 930 coletados não completamente e 450 erros

Métricas dos 3212 artigos (quantidade de revisões distintas)

In [3]:
pd.DataFrame(
    [["média", 16.353783867953908],
    ["min", 1],
    ["max", 24],
    ["std", 7.566158906605211]], columns=["métrica", "valor"]
)

  métrica      valor
0   média  16.353784
1     min   1.000000
2     max  24.000000
3     std   7.566159

In [4]:
"métrica","valor"
"média",22.19838056680162
"min",1.0
"max",24.0
"std",4.061007946140082

('std', 4.061007946140082)

In [26]:
infos_and_category_1 = !ls ~/Documents/tcc-collected-data/data/info_and_category_200701-200901/data
infos_and_category = set(infos_and_category_1)

In [27]:
len(infos_and_category)

2998

In [31]:
hasan - info

3325

## Coleta de conteúdos

1,5 GB, tempo ~20000

In [36]:
content_folder_1 = f"{base_folder}/content_200701-200901-errors" 
contents_1 = read_json(f"{content_folder_1}/collected-coleta1.json")["collected_pages"]
len(contents_1)

2840

In [62]:
contents_2 = read_json(f"{content_folder_1}/collected.json")["collected_pages"]
len(set(contents_2)-set(contents_1))

368

In [40]:
contents_3 = !ls ~/Documents/tcc-collected-data/data/content_info_by_id200701-200901-errors/data
cont_3 = set([x.split("|")[0] for x in contents_3])
len(cont_3)

34

In [65]:
content_table = pd.DataFrame([
           #   ["erros_partially_revision_info_200701-200901", 926, 455, 1386, 5, "sim"],
              ["1", 2840, 4, 2884,16423.973916000028 ],
              ["2", 368, 0, 368, 2360.591916999998 ],
              ["3", 34,  0, 34, 208.60236799999996 ],
              ["Total", 3242, 4, 3246 , 208.60236799999996],

             ], columns = ["coleta", "collected", "errors", "total", "tempo"]
            )
content_table

  coleta  collected  errors  total         tempo
0      1       2840       4   2884  16423.973916
1      2        368       0    368   2360.591917
2      3         34       0     34    208.602368
3  Total       3242       4   3246    208.602368

# Coleta de categorias

In [74]:
infos = !ls ~/Documents/tcc-collected-data/data/info_and_category_200701-200901/data

print(len(infos))

2998

In [75]:
!ls ~/Documents/tcc-collected-data/data/info_and_category_200701-200901

collected-coleta1-salvamentototal.json	  errors-coleta1-salvamentototal.csv
collected-coleta2-salvamentoparcial.json  errors-coleta2-salvamentoparcial.csv
collected-coleta3-redirects.json	  errors-coleta3-redirecionameto.csv
collected-coleta4-byid.json		  errors-coleta4-byid.csv
collected.json				  errors.csv
data					  log.csv

In [80]:
category_folder = f"{base_folder}/info_and_category_200701-200901" 
category_1 = set(read_json(f"{category_folder}/collected-coleta1-salvamentototal.json")["collected_pages"])
category_2 = set(read_json(f"{category_folder}/collected-coleta2-salvamentoparcial.json")["collected_pages"])
category_3 = set(read_json(f"{category_folder}/collected-coleta3-redirects.json")["collected_pages"])
category_4 = set(read_json(f"{category_folder}/collected-coleta4-byid.json")["collected_pages"])
#len(set(category_1)-set(contents_1)
print(f"coleta 1 : {len(category_1)}")
print(f"coleta 2 : {len(category_2) - len(category_1)}")
print(f"coleta 3 : {len(category_3) - len(category_2)}")
print(f"coleta 4 : {len(category_4) - len(category_3)}")

coleta 1 : 1589
coleta 2 : 1057
coleta 3 : 322
coleta 4 : 31

In [90]:
#titles = open(error_file, "r").read().split('\n')[:-1]

category_err_1 = set(open(f"{category_folder}/errors-coleta1-salvamentototal.csv", "r").read().split('\n'))
category_err_2 = set(open(f"{category_folder}/errors-coleta2-salvamentoparcial.csv", "r").read().split('\n'))
category_err_3 = set(open(f"{category_folder}/errors-coleta3-redirecionameto.csv", "r").read().split('\n'))
category_err_4 = set(open(f"{category_folder}/errors-coleta4-byid.csv", "r").read().split('\n'))
#len(set(category_1)-set(contents_1)
print(f"coleta 1 : {len(category_err_1)}")
print(f"coleta 2 : {len(category_err_2)}")
print(f"coleta 3 : {len(category_err_3)}")
print(f"coleta 4 : {len(category_err_4)}")
category_err_total = len(category_err_1) + len(category_err_2) + len(category_err_3)  + len(category_err_4)
print(f"total : {category_err_total}")

coleta 1 : 1256
coleta 2 : 199
coleta 3 : 47
coleta 4 : 3
total : 1505

In [101]:
category_table = pd.DataFrame([
           #   ["erros_partially_revision_info_200701-200901", 926, 455, 1386, 5, "sim"],
              ["1", len(category_1), len(category_err_1), len(category_1)+len(category_err_1),21227.835890999966 ],
              ["2", len(category_2) - len(category_1), len(category_err_2), len(category_2) - len(category_1) + len(category_err_2), 2360.591916999998 ],
              ["3", len(category_3) - len(category_2),  len(category_err_3), len(category_3) - len(category_2) + len(category_err_3), 8187.494828000001 ],
              ["4", len(category_4) - len(category_3),  len(category_err_4), len(category_4) - len(category_3) + len(category_err_4), 8187.494828000001],
              ["Total", len(category_4), 305, 3294 , 208.60236799999996],

             ], columns = ["coleta", "collected", "errors", "total", "tempo"]
            )
category_table

  coleta  collected  errors  total         tempo
0      1       1589    1256   2845  16423.973916
1      2       1057     199   1256   2360.591917
2      3        322      47    369    208.602368
3      4         31       3     34    208.602368
4  Total       2999     305   3294    208.602368

## Conversão para Html

A partir do conteúdo coletado 

tamanho: 2,2 GB 
tempo 12614.08667200011
~53 mil arquivos de conteúdo títulos|data
erros 0

In [6]:
pd.DataFrame([
        ["2.2GB", 53023, 0, 53023, 12614.08667200011 ],
    ], columns = ["tamanho", "instâncias", "erros", "total","tempo"])

  tamanho instâncias    erros  total         tempo
0   2.2GB    ~53 mil  ~53 mil      0  12614.086672

## Criação de features (raw_dataset)
A partir dos arquivos HTML gerar as 58 features

tamanho: 
tempo 15866.245401000022
~53 mil instâncias

In [10]:
pd.DataFrame([
        ["25,9MB", 52843, 189, 53032, 15866.245401000022 ],
    ], columns = ["tamanho", "instâncias", "erros", "total","tempo"])

  tamanho  instâncias  erros  total         tempo
0  25,9MB       52843    189  53032  15866.245401

In [37]:
raw_dataset = pd.read_csv(f"{base_folder}/features/data/raw_dataset.csv", sep=";")
ordered = raw_dataset.sort_values(by=['timestamp']).sort_values(by=['title'])

In [38]:
ordered

,title,timestamp,Section count,Subsection count,Complete URL link count,Complete URL link count per section,Complete URL link count per length,Relative URL link count,Relative URL link count per section,Relative URL link count per length,...,Sentences starting with relative pronoums,Sentences starting with subordinating conjunctions,Sentences starting with to be verbs,ARI readability feature,Coleman-Liau readability feature,Flesch Reading Ease Readability Feature,Flesch Kincaid Readability Feature,Gunning Fog Index readability feature,Lasbarhetsindex readability feature,SMOG Grading readability feature
38019,...In Your Eyes,2008-01-06T06:07:27Z,1,2,0,0.0,0.000000,1,1.0,0.002336,...,0,1,0,3.877281,5.499211,52.607281,9.068421,7.171930,17.929825,11.717798
21835,...In Your Eyes,2007-08-11T20:11:48Z,1,2,0,0.0,0.000000,1,1.0,0.002421,...,0,1,0,3.356000,4.922267,55.403500,8.637000,6.600000,16.500000,11.660254
17118,...In Your Eyes,2008-03-21T05:49:40Z,1,2,0,0.0,0.000000,1,1.0,0.002336,...,0,1,0,3.877281,5.499211,52.607281,9.068421,7.171930,17.929825,11.717798
27407,...In Your Eyes,2007-10-16T20:48:32Z,1,2,0,0.0,0.000000,1,1.0,0.002421,...,0,1,0,3.356000,4.922267,55.403500,8.637000,6.600000,16.500000,11.660254
43422,...In Your Eyes,2007-06-27T04:17:54Z,1,2,0,0.0,0.000000,1,1.0,0.002421,...,0,1,0,3.356000,4.922267,55.403500,8.637000,6.600000,16.500000,11.660254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21272,"Étienne François, duc de Choiseul",2008-05-24T20:46:00Z,0,0,9,9.0,0.001665,68,68.0,0.012579,...,0,4,0,14.571412,11.562665,44.134218,13.628375,14.895580,37.238950,32.883106
19606,"Étienne François, duc de Choiseul",2007-03-30T19:59:38Z,0,0,6,6.0,0.001129,66,66.0,0.012420,...,0,3,0,15.849963,11.184994,38.770665,15.213344,16.127799,40.319498,32.816103
13080,"Étienne François, duc de Choiseul",2007-11-21T12:14:08Z,0,0,8,8.0,0.001477,69,69.0,0.012742,...,0,3,0,16.214167,11.422611,38.581000,15.330889,16.311111,40.777778,33.000000
40260,"Étienne François, duc de Choiseul",2007-02-10T11:58:40Z,0,0,6,6.0,0.001159,66,66.0,0.012746,...,0,3,0,15.575966,11.196774,43.230001,14.442300,15.838362,39.595905,32.512709
27905,"Étienne François, duc de Choiseul",2008-11-09T00:49:48Z,0,0,9,9.0,0.001655,60,60.0,0.011033,...,0,4,0,14.643544,11.567194,43.423495,13.764040,14.974505,37.436264,32.966648

In [5]:
#import pandas as pd
#data= pd.read_csv("stats.csv")
#data.hist(bins=3)
#data["distinct_revisions"].sort(data["distinct_revisions"]).value_counts()

In [6]:
#import pandas as pd
#data= pd.read_csv("stats2.csv")
#data
#data.hist(bins=3)
#data.sort_values(by=['distinct_revisions'])['distinct_revisions'].value_counts()/3212
#data["distinct_revisions"].sort(data["distinct_revisions"])value_counts()

In [7]:
def info_stats(total, titles_not_collected_completed, titles_not_colleted_even_parcially):
    #total = 3294
    #titles_not_collected_completed = 1386 # or errors from collecting completly

    #titles_not_colleted_even_parcially = 455 # or error from collecting partilly

    erros_first_collection = titles_not_collected_completed/total
    print(f"Erros na primeira coleta : {erros_first_collection}")

    erros_second_collection = titles_not_colleted_even_parcially/titles_not_collected_completed
    print(f"Erros na segunda coleta : {erros_second_collection}") 

    total_errors = (titles_not_colleted_even_parcially)/total
    print(f"Erros totais : {total_errors}") 
    collected_total = 1 - total_errors

    print(f"Coletados completamente ou parcialmente : {collected_total}") 

def info_stats_i(title):
    row = info_meta[info_meta["file"]==title]
    info_stats(row["collected"].values[0], row["partially collected"].values[0], row["errors"].values[0])
    
    
info_stats_i("revision_info_200701-200901")

Erros na primeira coleta : 0.3270042194092827
Erros na segunda coleta : 0.4838709677419355
Erros totais : 0.15822784810126583
Coletados completamente ou parcialmente : 0.8417721518987342

## Análise da primeira coleta
first_collection_folder = "../collected_data/revision_info_2007-2009"

first_collection


https://en.wikipedia.org/api/rest_v1/#/Page%20content

https://wikimedia.org/api/rest_v1/#/

https://en.wikipedia.org/w/api.php

para brincar com a API por meio de interface gráfica
https://en.wikipedia.org/wiki/Special:ApiSandbox


https://datasets.wikimedia.org/public-datasets/enwiki/article_quality/wp10-scores-enwiki-20160820.tsv.bz2

https://en.wikipedia.org/w/index.php?title=Brazil&dir=prev&action=history usar o view history

A coleta realizada de 2019 à 2014 resultou em sem tempo sleep

In [ ]:
titles_not_collect_2 = 1855
percentage = titles_not_collect_2/total
percentage

Ler sobre ORES
https://blog.wikimedia.org/2016/10/27/wikipedia-quality-trends-dataset/#cite1
https://wikiedu.org/blog/2016/09/16/visualizing-article-history-with-structural-completeness/

https://github.com/wikimedia/revscoring/blob/master/ipython/hashing_vectorizer.ipynb

Coleta realizada de 2019 à 2017

In [11]:
ittles = !ls ~/Documents/tcc-collected-data/data/content_200701_200901_html/data

In [12]:
len(ittles)

53023