## Resultados

pode-se ver isso executando os comandos `ls -l data | wc -l` para obter o número de páginas coletadas e `cat errors.csv | wc -l` para obter o número de páginas com erro, nas pastas das coletas correspondentes.

Para passar as tabelas para latex : https://www.tablesgenerator.com/

In [3]:
import pandas as pd
from wkdatacollector.wkio import read_json
base_folder = "../tcc-collected-data/data"

In [8]:
info_meta = pd.DataFrame([["revision_info_2007-2009", 2846, 926, 455, 3306, -12, "sim"],
           #   ["erros_partially_revision_info_200701-200901", 926, 455, 1386, 5, "sim"],
              ["revision_info_201707-201907", 1474, 0, 1821, 3294, -1, "sim" ],
              ["revision_info_200701-200901", 2844, 930, 450, 3294, -1, "não" ],
              ["revision_info_200701-200901-errors",368,144, 82, 450, 0, "não"],
              ["revision_info_200701-200901 uniao -errors",3212,1074, 82, 3294, 0, "não"],
              ["content",0,0, 0, 0, 0, "não"],
              ["titles",40,0, 42, 82, 0, "não"],
              ["revision_info_pos_titles",34,0, 6, 40, 0, "não"],
              ["content_pos_titles",34,0, 0, 34, 0, "não"],
              ["info_and_category_200701-200901", 1589, 0, 1264, 2843, 0, "não" ],
              ["info_and_category_200701-200901+parcial", 1056, 0, 198, 1264, 0, "não" ],
              ["info_and_category_200701-200901+parcial+", 2994, -1, -1, -1, -1, "não" ],
             ], columns = ["file", "collected", "partially collected", "errors", "total", "missing", "descarted"]
            )
info_meta

,file,collected,partially collected,errors,total,missing,descarted
0,revision_info_2007-2009,2846,926,455,3306,-12,sim
1,revision_info_201707-201907,1474,0,1821,3294,-1,sim
2,revision_info_200701-200901,2844,930,450,3294,-1,não
3,revision_info_200701-200901-errors,368,144,82,450,0,não
4,revision_info_200701-200901 uniao -errors,3212,1074,82,3294,0,não
5,content,0,0,0,0,0,não
6,titles,40,0,42,82,0,não
7,revision_info_pos_titles,34,0,6,40,0,não
8,content_pos_titles,34,0,0,34,0,não
9,info_and_category_200701-200901,1589,0,1264,2843,0,não
10,info_and_category_200701-200901+parcial,1056,0,198,1264,0,não
11,info_and_category_200701-200901+parcial+,2994,-1,-1,-1,-1,não

## Base Original

In [16]:
hasan_ = pd.read_csv('wikipedia_dataset_hasan/wikipedia_old.csv')
hasan = set(hasan_["page_title"])
len(hasan)

3294

## Coleta de infos

1. A coleta realizada de 2009 à 2007 resultou em 1908 ou (1920) e erros (1386) (revision_info_2007-2009)
2. coleta dos artigos com erro, que tem mais rvcontinue (926) e erros (455)
3. A coleta de 2009 à 2007 resultou em 930 coletados não completamente e 450 erros

Métricas dos 3212 artigos (quantidade de revisões distintas)

In [3]:
pd.DataFrame(
    [["média", 16.353783867953908],
    ["min", 1],
    ["max", 24],
    ["std", 7.566158906605211]], columns=["métrica", "valor"]
)

  métrica      valor
0   média  16.353784
1     min   1.000000
2     max  24.000000
3     std   7.566159

In [4]:
"métrica","valor"
"média",22.19838056680162
"min",1.0
"max",24.0
"std",4.061007946140082

('std', 4.061007946140082)

In [26]:
infos_and_category_1 = !ls ~/Documents/tcc-collected-data/data/info_and_category_200701-200901/data
infos_and_category = set(infos_and_category_1)

In [27]:
len(infos_and_category)

2998

In [31]:
hasan - info

3325

## Coleta de conteúdos

1,5 GB, tempo ~20000

In [36]:
content_folder_1 = f"{base_folder}/content_200701-200901-errors" 
contents_1 = read_json(f"{content_folder_1}/collected-coleta1.json")["collected_pages"]
len(contents_1)

2840

In [62]:
contents_2 = read_json(f"{content_folder_1}/collected.json")["collected_pages"]
len(set(contents_2)-set(contents_1))

368

In [40]:
contents_3 = !ls ~/Documents/tcc-collected-data/data/content_info_by_id200701-200901-errors/data
cont_3 = set([x.split("|")[0] for x in contents_3])
len(cont_3)

34

In [65]:
content_table = pd.DataFrame([
           #   ["erros_partially_revision_info_200701-200901", 926, 455, 1386, 5, "sim"],
              ["1", 2840, 4, 2884,16423.973916000028 ],
              ["2", 368, 0, 368, 2360.591916999998 ],
              ["3", 34,  0, 34, 208.60236799999996 ],
              ["Total", 3242, 4, 3246 , 208.60236799999996],

             ], columns = ["coleta", "collected", "errors", "total", "tempo"]
            )
content_table

  coleta  collected  errors  total         tempo
0      1       2840       4   2884  16423.973916
1      2        368       0    368   2360.591917
2      3         34       0     34    208.602368
3  Total       3242       4   3246    208.602368

# Coleta de categorias

In [74]:
infos = !ls ~/Documents/tcc-collected-data/data/info_and_category_200701-200901/data

print(len(infos))

2998

In [75]:
!ls ~/Documents/tcc-collected-data/data/info_and_category_200701-200901

collected-coleta1-salvamentototal.json	  errors-coleta1-salvamentototal.csv
collected-coleta2-salvamentoparcial.json  errors-coleta2-salvamentoparcial.csv
collected-coleta3-redirects.json	  errors-coleta3-redirecionameto.csv
collected-coleta4-byid.json		  errors-coleta4-byid.csv
collected.json				  errors.csv
data					  log.csv

In [80]:
category_folder = f"{base_folder}/info_and_category_200701-200901" 
category_1 = set(read_json(f"{category_folder}/collected-coleta1-salvamentototal.json")["collected_pages"])
category_2 = set(read_json(f"{category_folder}/collected-coleta2-salvamentoparcial.json")["collected_pages"])
category_3 = set(read_json(f"{category_folder}/collected-coleta3-redirects.json")["collected_pages"])
category_4 = set(read_json(f"{category_folder}/collected-coleta4-byid.json")["collected_pages"])
#len(set(category_1)-set(contents_1)
print(f"coleta 1 : {len(category_1)}")
print(f"coleta 2 : {len(category_2) - len(category_1)}")
print(f"coleta 3 : {len(category_3) - len(category_2)}")
print(f"coleta 4 : {len(category_4) - len(category_3)}")

coleta 1 : 1589
coleta 2 : 1057
coleta 3 : 322
coleta 4 : 31

In [90]:
#titles = open(error_file, "r").read().split('\n')[:-1]

category_err_1 = set(open(f"{category_folder}/errors-coleta1-salvamentototal.csv", "r").read().split('\n'))
category_err_2 = set(open(f"{category_folder}/errors-coleta2-salvamentoparcial.csv", "r").read().split('\n'))
category_err_3 = set(open(f"{category_folder}/errors-coleta3-redirecionameto.csv", "r").read().split('\n'))
category_err_4 = set(open(f"{category_folder}/errors-coleta4-byid.csv", "r").read().split('\n'))
#len(set(category_1)-set(contents_1)
print(f"coleta 1 : {len(category_err_1)}")
print(f"coleta 2 : {len(category_err_2)}")
print(f"coleta 3 : {len(category_err_3)}")
print(f"coleta 4 : {len(category_err_4)}")
category_err_total = len(category_err_1) + len(category_err_2) + len(category_err_3)  + len(category_err_4)
print(f"total : {category_err_total}")

coleta 1 : 1256
coleta 2 : 199
coleta 3 : 47
coleta 4 : 3
total : 1505

In [101]:
category_table = pd.DataFrame([
           #   ["erros_partially_revision_info_200701-200901", 926, 455, 1386, 5, "sim"],
              ["1", len(category_1), len(category_err_1), len(category_1)+len(category_err_1),21227.835890999966 ],
              ["2", len(category_2) - len(category_1), len(category_err_2), len(category_2) - len(category_1) + len(category_err_2), 2360.591916999998 ],
              ["3", len(category_3) - len(category_2),  len(category_err_3), len(category_3) - len(category_2) + len(category_err_3), 8187.494828000001 ],
              ["4", len(category_4) - len(category_3),  len(category_err_4), len(category_4) - len(category_3) + len(category_err_4), 8187.494828000001],
              ["Total", len(category_4), 305, 3294 , 208.60236799999996],

             ], columns = ["coleta", "collected", "errors", "total", "tempo"]
            )
category_table

  coleta  collected  errors  total         tempo
0      1       1589    1256   2845  16423.973916
1      2       1057     199   1256   2360.591917
2      3        322      47    369    208.602368
3      4         31       3     34    208.602368
4  Total       2999     305   3294    208.602368

## Conversão para Html

A partir do conteúdo coletado 

tamanho: 2,2 GB 
tempo 12614.08667200011
~53 mil arquivos de conteúdo títulos|data
erros 0

In [6]:
pd.DataFrame([
        ["2.2GB", 53023, 0, 53023, 12614.08667200011 ],
    ], columns = ["tamanho", "instâncias", "erros", "total","tempo"])

  tamanho instâncias    erros  total         tempo
0   2.2GB    ~53 mil  ~53 mil      0  12614.086672

## Criação de features (raw_dataset)
A partir dos arquivos HTML gerar as 58 features

tamanho: 
tempo 15866.245401000022
~53 mil instâncias

In [10]:
pd.DataFrame([
        ["25,9MB", 52843, 189, 53032, 15866.245401000022 ],
    ], columns = ["tamanho", "instâncias", "erros", "total","tempo"])

  tamanho  instâncias  erros  total         tempo
0  25,9MB       52843    189  53032  15866.245401

In [37]:
raw_dataset = pd.read_csv(f"{base_folder}/features/data/raw_dataset.csv", sep=";")
ordered = raw_dataset.sort_values(by=['timestamp']).sort_values(by=['title'])

In [39]:
ordered[ordered["title"]=="Two Worlds (video game)"]

,title,timestamp,Section count,Subsection count,Complete URL link count,Complete URL link count per section,Complete URL link count per length,Relative URL link count,Relative URL link count per section,Relative URL link count per length,...,Sentences starting with relative pronoums,Sentences starting with subordinating conjunctions,Sentences starting with to be verbs,ARI readability feature,Coleman-Liau readability feature,Flesch Reading Ease Readability Feature,Flesch Kincaid Readability Feature,Gunning Fog Index readability feature,Lasbarhetsindex readability feature,SMOG Grading readability feature
20261,Two Worlds (video game),2007-09-29T17:28:36Z,7,3,10,1.428571,0.001243,18,2.571429,0.002238,...,0,4,0,12.255223,11.458627,46.360128,12.106171,13.622712,34.056780,39.414283
20161,Two Worlds (video game),2008-12-25T00:42:19Z,6,4,15,2.500000,0.002010,17,2.833333,0.002279,...,0,8,0,9.844953,10.693765,52.305073,10.252651,11.796947,29.492368,38.256205
13134,Two Worlds (video game),2008-03-29T06:26:10Z,7,4,11,1.571429,0.001442,20,2.857143,0.002622,...,0,7,0,10.220379,10.840355,51.493662,10.517206,12.224158,30.560395,38.623026
12312,Two Worlds (video game),2007-10-30T22:14:18Z,8,3,11,1.375000,0.001278,19,2.375000,0.002208,...,0,7,0,10.821204,11.169803,49.840537,10.942714,12.315062,30.787655,40.656341
1697,Two Worlds (video game),2008-04-28T20:05:49Z,7,4,11,1.571429,0.001426,18,2.571429,0.002333,...,0,7,0,10.045501,10.577224,52.056480,10.459844,12.194934,30.487336,38.958309
35491,Two Worlds (video game),2007-07-29T22:34:00Z,8,0,11,1.375000,0.002568,21,2.625000,0.004902,...,1,5,0,13.342941,11.602960,42.747534,13.143241,14.399169,35.997923,29.570661
1568,Two Worlds (video game),2008-10-29T14:13:05Z,6,4,14,2.333333,0.001880,17,2.833333,0.002283,...,0,8,0,9.803140,10.648929,52.413207,10.234118,11.795330,29.488325,38.242020
14810,Two Worlds (video game),2008-05-31T17:36:00Z,7,4,14,2.000000,0.001867,18,2.571429,0.002401,...,0,7,0,10.576020,10.872898,50.684119,10.821051,12.612841,31.532103,38.341194
45078,Two Worlds (video game),2008-08-29T01:10:30Z,7,4,14,2.000000,0.001807,18,2.571429,0.002324,...,0,8,0,10.050018,10.910561,51.094460,10.439878,12.079328,30.198321,38.818989
27781,Two Worlds (video game),2007-08-31T18:37:45Z,8,0,12,1.500000,0.001635,20,2.500000,0.002724,...,0,4,0,12.474249,11.608562,47.306395,12.028852,13.865998,34.664994,37.785054
38133,Two Worlds (video game),2008-09-24T09:59:48Z,7,4,14,2.000000,0.001762,18,2.571429,0.002266,...,0,8,0,9.989898,10.826490,51.191205,10.430713,12.036874,30.092185,39.318040
31254,Two Worlds (video game),2007-05-31T16:15:25Z,8,0,9,1.125000,0.001870,29,3.625000,0.006027,...,1,3,0,13.271368,10.865283,44.817007,13.136143,14.682391,36.705979,31.530685
8758,Two Worlds (video game),2008-11-19T21:08:25Z,6,4,14,2.333333,0.001880,17,2.833333,0.002283,...,0,8,0,9.821996,10.679702,52.316979,10.244090,11.793719,29.484298,38.227830
17870,Two Worlds (video game),2007-01-28T10:43:49Z,8,11,9,1.125000,0.000575,26,3.250000,0.001660,...,3,8,1,9.703399,9.728034,60.132417,9.529651,10.811498,27.028744,54.778374
4076,Two Worlds (video game),2008-07-13T11:25:32Z,7,4,14,2.000000,0.001768,18,2.571429,0.002273,...,0,8,0,10.094247,10.869909,50.820693,10.523318,12.152597,30.381492,39.249138
16802,Two Worlds (video game),2008-02-29T22:42:12Z,7,8,13,1.857143,0.001450,21,3.000000,0.002343,...,0,7,0,10.876523,11.019401,48.950302,11.167798,12.682803,31.707008,41.561639
12231,Two Worlds (video game),2007-02-18T06:02:15Z,9,11,11,1.222222,0.000763,24,2.666667,0.001666,...,3,8,1,9.711030,9.789643,59.972843,9.527876,10.839972,27.099931,52.618545
51996,Two Worlds (video game),2007-03-24T14:56:45Z,9,11,9,1.000000,0.000630,24,2.666667,0.001680,...,3,8,1,9.619687,9.765361,59.959354,9.488353,10.787382,26.968455,52.396356
14107,Two Worlds (video game),2007-12-30T06:28:54Z,8,3,12,1.500000,0.001350,20,2.500000,0.002251,...,0,8,0,10.382286,11.007213,49.793172,10.770733,12.206201,30.515503,41.353618
51706,Two Worlds (video game),2007-04-28T16:09:47Z,3,0,9,3.000000,0.007833,12,4.000000,0.010444,...,0,0,0,12.919691,10.666031,40.930528,13.574716,14.648454,36.621134,16.928388
22861,Two Worlds (video game),2007-11-25T08:18:24Z,8,3,11,1.375000,0.001386,19,2.375000,0.002395,...,0,8,0,10.604778,11.163310,49.465558,10.872982,12.312538,30.781346,39.166283
36148,Two Worlds (video game),2008-01-30T20:23:39Z,7,3,13,1.857143,0.001536,20,2.857143,0.002363,...,0,7,0,10.594440,11.000285,49.444159,10.945701,12.400345,31.000863,40.443290
4339,Two Worlds (video game),2007-06-29T06:49:16Z,8,0,10,1.250000,0.002077,31,3.875000,0.006438,...,1,3,0,13.609954,10.771051,44.267302,13.435365,14.919377,37.298441,31.600699
39072,Two Worlds (video game),2008-06-24T14:28:42Z,7,4,14,2.000000,0.001771,18,2.571429,0.002277,...,0,8,0,10.090470,10.879245,51.410822,10.434382,12.149772,30.374431,39.221541

In [5]:
#import pandas as pd
#data= pd.read_csv("stats.csv")
#data.hist(bins=3)
#data["distinct_revisions"].sort(data["distinct_revisions"]).value_counts()

In [6]:
#import pandas as pd
#data= pd.read_csv("stats2.csv")
#data
#data.hist(bins=3)
#data.sort_values(by=['distinct_revisions'])['distinct_revisions'].value_counts()/3212
#data["distinct_revisions"].sort(data["distinct_revisions"])value_counts()

In [7]:
def info_stats(total, titles_not_collected_completed, titles_not_colleted_even_parcially):
    #total = 3294
    #titles_not_collected_completed = 1386 # or errors from collecting completly

    #titles_not_colleted_even_parcially = 455 # or error from collecting partilly

    erros_first_collection = titles_not_collected_completed/total
    print(f"Erros na primeira coleta : {erros_first_collection}")

    erros_second_collection = titles_not_colleted_even_parcially/titles_not_collected_completed
    print(f"Erros na segunda coleta : {erros_second_collection}") 

    total_errors = (titles_not_colleted_even_parcially)/total
    print(f"Erros totais : {total_errors}") 
    collected_total = 1 - total_errors

    print(f"Coletados completamente ou parcialmente : {collected_total}") 

def info_stats_i(title):
    row = info_meta[info_meta["file"]==title]
    info_stats(row["collected"].values[0], row["partially collected"].values[0], row["errors"].values[0])
    
    
info_stats_i("revision_info_200701-200901")

Erros na primeira coleta : 0.3270042194092827
Erros na segunda coleta : 0.4838709677419355
Erros totais : 0.15822784810126583
Coletados completamente ou parcialmente : 0.8417721518987342

## Análise da primeira coleta
first_collection_folder = "../collected_data/revision_info_2007-2009"

first_collection


https://en.wikipedia.org/api/rest_v1/#/Page%20content

https://wikimedia.org/api/rest_v1/#/

https://en.wikipedia.org/w/api.php

para brincar com a API por meio de interface gráfica
https://en.wikipedia.org/wiki/Special:ApiSandbox


https://datasets.wikimedia.org/public-datasets/enwiki/article_quality/wp10-scores-enwiki-20160820.tsv.bz2

https://en.wikipedia.org/w/index.php?title=Brazil&dir=prev&action=history usar o view history

A coleta realizada de 2019 à 2014 resultou em sem tempo sleep

In [ ]:
titles_not_collect_2 = 1855
percentage = titles_not_collect_2/total
percentage

Ler sobre ORES
https://blog.wikimedia.org/2016/10/27/wikipedia-quality-trends-dataset/#cite1
https://wikiedu.org/blog/2016/09/16/visualizing-article-history-with-structural-completeness/

https://github.com/wikimedia/revscoring/blob/master/ipython/hashing_vectorizer.ipynb

Coleta realizada de 2019 à 2017

In [11]:
ittles = !ls ~/Documents/tcc-collected-data/data/content_200701_200901_html/data

In [12]:
len(ittles)

53023